$blue: hsl(249, 99%, 64%);
$purple: hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$LightGrayishViolet: hsl(270, 3%, 87%);
$DarkGrayishViolet: hsl(279, 6%, 55%);
$VeryDarkViolet: hsl(278, 68%, 11%);
$fontFamily: 'Space Grotesk', sans-serif;
$fontSize: 18px;