@use 'vars' as v;
@use 'mixins' as m;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: v.$White;
    font-family: v.$fontFamily;
}

.main-container{
    width: 23.8em;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4em;

    @media only screen and (min-width: 1440px){
        width: 90em;
        flex-direction: row;
        gap: 10em;

    }
    
    .card-bg{
        position: relative;
        width: 100%;
        height: 14em;
        @include m.bg('./images/bg-main-mobile.png');

        @media only screen and (min-width: 1440px){
            background-image: url(./images/bg-main-desktop.png);
            width: 45em;
            height: 100vh;
        }

        .card-back{
            width: 18em;
            height: 9em;
            @include m.bg('./images/bg-card-back.png');
            border-radius: 0.5em;
            position: absolute;
            right: 1em;
            top: 1.5em;
            padding: 3.75em 0 0 14em;
            box-shadow: 0 0 1.5em #00000088;

            @media only screen and (min-width: 1440px){
                width: 30em;
                height: 16em;
                top: 28em;
                left: 12em;
                padding: 7.2em 0 0 24em;
            }

            .cvc{
                color: v.$LightGrayishViolet;

                @media only screen and (min-width: 1440px){
                    font-size: 1.2em;
                }
            }
        }

        .card-front{
            width: 18em;
            height: 9em;
            @include m.bg('./images/bg-card-front.png');
            border-radius: 0.5em;
            position: absolute;
            top: 6.7em;
            left: 1em;
            padding: 1.2em;
            color: v.$White;
            box-shadow: 0 0 1.5em #00000088;

            @media only screen and (min-width: 1440px){
                width: 30em;
                height: 16em;
                top: 10em;
                left: 6em;
                padding: 2em;
            }

            .circle{
                width: 4em;

                @media only screen and (min-width: 1440px){
                    width: 5em;
                }
            }

            .card-number{
                font-size: 1.3em;
                margin: 1em 0 0.2em 0;

                @media only screen and (min-width: 1440px){
                    font-size: 2em;
                    margin: 2em 0 0.4em 0;
                    letter-spacing: 2px;
                }
            }

            .card-holder{
                display: inline;
                font-size: 0.9em;
                text-transform: uppercase;

                @media only screen and (min-width: 1440px){
                    font-size: 1.2em;
                }
            }

            .exp-date{
                display: inline;
                float: right;
                font-size: 0.9em;

                @media only screen and (min-width: 1440px){
                    font-size: 1.2em;
                }
            }
        }
    }

    .form-container{
        @media only screen and (min-width: 1440px){
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .form{
            padding: 0 1.5em 1em 1.5em;
            margin: auto;

            @media only screen and (min-width: 1440px){
                width: 32em;
                text-transform: uppercase;
                padding: 0 1.5em;
            }

            label{
                font-size: v.$fontSize;
                display: inline-block;

                span{
                    display: block;
                    color: v.$red;
                    font-size: 0.8em;
                }
            }

            .flex{
                display: flex;
                align-items: center;
                gap: 0.1em;
                margin-bottom: 0.6em;
            }

            input[type="text"]{
                width: 100%;
                font-size: v.$fontSize;
                padding: 0.6em;
                border-radius: 0.5em;
                border: 1px solid v.$LightGrayishViolet;
                margin: 0.5em 0 1em 0;
                text-transform: uppercase;

                &::placeholder{
                    text-transform: capitalize;
                }

                &:hover{
                    outline-color: v.$purple;
                }
            }

            #mm{
                width: 4.5em;
            }

            #yy{
                width: 4.5em;
            }

            #cvc{
                width: 9em;

                @media only screen and (min-width: 1440px){
                    width: 16em;
                }
            }

            .submit{
                @include m.btn();
            }
        }

        .confirmed{
            padding: 0 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1.2em;
            margin: 1.6em 0 1.2em 0;
            display: none;
            animation: appear 900ms ease-in-out;

            @media only screen and (min-width: 1440px){
                width: 26em;
            }

            .continue{
                @include m.btn();
            }
        }

        @keyframes appear {
            0%{
                transform: scale(0);
            }

            100%{
                transform: scale(1);
            }
        }
    }
}
